html
    head
        title= title
    body
        h2='Get RSS feed by url'
        form(action='/getFeed', method='POST')
            p
                input(
                    type='text'
                    name='feedURL'
                    placeholder='Enter feed URL...'
                    size='100'
                )
                input(
                    type='submit'
                    value='Get Feed'
                )
        a(href="/parsedRSS")
            button(
                title='More RSS'
            ) View all urls