html
    head
        title= title
    body
        a(href="/")
            button(
                title='Homepage'
            ) Homepage
        ul
            for item in parsedFeed
                li= item.title
                ul
                    li= item.link
                    li= item.pubDate
                    li= item.creator
                    li= item.contentSnippet
                    li= item.guid
                    li= item.categories