html
    head
        title= title
    body
        a(href="/")
            button(
                title='Homepage'
            ) Homepage
        a(href="/parsedRSS")
            button(
                title='More RSS'
            ) View all urls
        ul
            for item in rssItems
                    li= item.title
                    ul
                        li= item.link
                        li= item.pubDate
                        li= item.creator
                        li= item.contentSnippet
                        li= item.guid
                        li= item.categories